@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap");

/* Variables */
@import url("./styles/variables.css");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: var(--neutral2-700);
  transition: all 0.2s ease;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--neutral1-200);
}

::-webkit-scrollbar-thumb {
  background: var(--neutral1-400);
  border-radius: 5px;
}

#theme {
  display: none;
}

#theme:checked ~ .App {
  filter: invert(1) hue-rotate(180deg) brightness(1.2);
}

.App {
  width: 100%;
  background-color: #FFF;
  min-height: 100vh;
  transition: all 0.5s ease;
}

/* Register Styles */
@import url("./styles/register.css");

/* Login Styles */
@import url("./styles/login.css");

/* Root Layout Styles */
@import url("./styles/rootLayout.css");

/* Topbar Styles */
@import url("./styles/topbar.css");

/* LeftSidebar Styles */
@import url("./styles//leftsidebar.css");

/* Bottombar Styles */
@import url("./styles/bottombar.css");

/* Home Styles */
@import url("./styles/home.css");

/* Explore Styles */
@import url("./styles/explore.css");

/* Search Model Styles */
@import url("./styles/searchmodel.css");

/* Profile Styles */
@import url("./styles/profile.css");
@import url("./styles/profileinfo.css");
@import url("./styles//profileinfobuttons.css");

/* Update Profile Styles */
@import url("./styles/updateprofile.css");
@import url("./styles//editprofileform.css");
@import url("./styles/changepasswordform.css");
