.BottomBar {
  height: 3.5rem;
  min-height: 3.5rem;
  width: 100%;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 var(--font-size-small);
  position: fixed;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomBar-link {
  background: transparent;
}

.bottomBar-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.bottomBar-profileIcon {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  object-fit: cover;
}

.bottom-profile-active {
  border: 2px solid var(--neutral2-800);
}

@media screen and (min-width: 769px) {
  .BottomBar {
    display: none;
  }
}
