.HomeUserSuggestions {
  width: 30%;
  height: 100vh;
  background: aquamarine;
}

/* Media Queries */
/* Mobile Phones */
@media only screen and (max-width: 480px) {
  .HomeUserSuggestions {
    display: none;
  }
}

/* Tablets (Portrait) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .HomeUserSuggestions {
    height: calc(100vh - 7rem);
    margin: auto;
  }
}

/* Tablets (Landscape) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Tablet landscape styles go here */
}
