.LeftSideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 100vh;
  background: #fff;
  border-right: 1px solid var(--border-color);
  padding: 1rem;
  overflow-y: auto;
}

.leftSideBar-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.5rem 0 0 0;
}

.logo {
  text-decoration: none;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  height: 2.5rem;
  width: 2.5rem;
}

.logo span {
  font-family: "Lobster", sans-serif;
  font-size: var(--font-size-xxlarge);
  /* padding: 0.2rem 0 0 0; */
}

.leftSideBar-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.leftSideBar-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  color: var(--neutral2-800);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
}

.leftSideBar-link:hover {
  background: var(--neutral1-50)
}

.active {
  background: var(--neutral1-50);
  font-weight: var(--font-weight-bold);
}

.leftSideBar-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.leftSideBar-logout {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  gap: 0.5rem;
  color: var(--danger-800);
  margin: 0 1rem;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
}

.profilePic {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.leftSideBar-pic-active {
  border: 2px solid var(--neutral2-800);
}

@media screen and (max-width: 769px) {
  .LeftSideBar {
    display: none;
  }
}
