.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.Login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../../public/assets/register_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0.25);
  filter: blur(0.325rem);
}

.Login::after,
.login-container-left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.login-container {
  z-index: 999;
  width: 100%;
  max-width: 56.25rem;
  height: auto;
  min-height: 25rem;
  background: #fff;
  border-radius: 0.325rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
  display: flex;
}

.login-container-left {
  background: url("../../public/assets/login_backgroundImg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
  width: 50%;
  height: auto;
  position: relative;
}

.login-container-left::after {
  height: 100%;
}

.login-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: var(--font-weight-semibold);
  text-align: center;
  width: 90%;
  line-height: var(--line-height-medium);
}

.login-text h1 {
  color: var(--neutral1-25);
  margin: 0 0 1rem 0;
}

.login-container-right {
  width: 50%;
  height: auto;
  border-radius: 0.325rem 0 0 0.325rem;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  width: 100%;
  text-align: center;
}

.login-form-container h1 {
  margin: 0 0 0.5rem 0;
}

.login-form-container p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
}

.login-form {
  margin: var(--font-size-medium) 0 0 0;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.625rem 0;
}

.login-form-group label {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
  margin: 0 0 0.325rem 0;
  display: flex;
  align-items: center;
  gap: 0.325rem;
}

.login-form-group input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.325rem;
  padding: 0 0.625rem;
  font-size: var(--font-size-small);
  outline: none;
}

.login-form-group input:focus {
  border: 2px solid var(--primary-100);
}

.login-form-group button {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 0.325rem;
  background: var(--primary-500);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  color: var(--neutral1-25);
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-form-group button:hover {
  background: var(--primary-600);
}

.login-form-group button:disabled {
  background: var(--primary-25);
  cursor: not-allowed;
}

.login-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-group small {
  color: var(--danger-800);
  font-size: var(--font-size-small);
  margin: 0.3rem 0 0 0;
  display: flex;
  justify-content: stretch;
}

.login-form-group:last-child {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.325rem;
}

.login-form-group span {
  font-weight: var(--font-weight-semibold);
  color: var(--neutral2-700);
}

.login-form-group a {
  color: var(--primary-500);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  transition: all 0.2s ease;
}

.login-form-group a:hover {
  color: var(--primary-600);
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .login-container {
    width: 90%;
  }

  .login-container-left {
    display: none;
  }

  .login-container-right {
    width: 100%;
    height: auto;
    border-radius: 0 0 0.325rem 0.325rem;
  }

  .login-form-container {
    padding: 0 0.625rem;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .login-container {
    width: 90%;
  }

  .login-container-left {
    display: none;
  }

  .login-container-right {
    width: 100%;
    height: auto;
    border-radius: 0 0 0.325rem 0.325rem;
  }

  .login-form-container {
    padding: 0 0.625rem;
  }

  .login-form-container h1 {
    font-size: var(--font-size-xxxlarge);
  }

  .login-form-container p {
    font-size: var(--font-size-medium);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .login-container {
    width: 90%;
  }

  .login-form-container {
    padding: 0 0.625rem;
  }

  .login-form-container h1 {
    font-size: var(--font-size-xxxlarge);
  }

  .login-form-container p {
    font-size: var(--font-size-medium);
  }
}
