.Post {
  width: 98%;
  height: auto;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  border-radius: 0.75rem;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.5);
  padding: 1rem;
}

.post_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  background: none;
}

.post_header-left img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.post_header-name {
  height: 3rem;
}

.post_header-name h3 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--neutral2-700);
  cursor: pointer;
}

.post_header-name p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  color: var(--neutral2-25);
}

.post_header-right {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.post_header-more {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.post_header-more:hover {
  transform: scale(1.1);
  border: 1px solid var(--neutral1-400);
}

.post_header-dropdown {
  position: absolute;
  top: 2.5rem;
  left: inherit !important;
  right: 1rem;
  z-index: 1;
  width: 10rem;
  height: auto;
  min-height: 7.5rem;
  max-height: 10rem;
  background: #fff;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.5);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.post_dropdown-item {
  width: 100%;
  height: auto;
  min-height: 2.5rem;
  max-height: 3rem;
  border: none;
  border-bottom: 1px solid #bababa;
  cursor: pointer;
  background: transparent;
  outline: none;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  color: var(--neutral2-700);
}

.post_dropdown-item:hover {
  background: var(--neutral1-25);
}

.post_dropdown-item:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

.post_dropdown-item:last-child {
  border: none;
  border-radius: 0 0 0.5rem 0.5rem;
}

.post_dropdown-delete,
.post_dropdown-unfollow {
  color: var(--danger-800);
}

.post_body {
  margin: 0 2rem 0 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.post_body-carousel {
  width: 100%;
  height: 23rem;
}

.post_body-caption {
  display: flex;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}

.post_body-caption-username {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--neutral2-700);
  margin: 0 0.5rem 0 0;
  cursor: pointer;
  text-decoration: none;
  background: none;
}

.post_body-caption-readMore {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  color: var(--neutral2-25);
  cursor: pointer;
}

.post_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post_footer-icons {
  width: 100%;
  border-top: 1px solid var(--neutral1-300);
  border-bottom: 1px solid var(--neutral1-300);
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_footer-icon-item {
  height: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.post_footer-icon-item img {
  width: 1.2rem;
  height: 1.2rem;
  transition: all 0.2s ease;
}

.post_footer-icon-item img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.post_footer-icon-item p,
.post_footer-icon-item-unliked,
.post_footer-icon-item-uncommented {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  color: #838daa;
}

.post_footer-icon-item-liked,
.post_footer-icon-item-commented {
  font-weight: var(--font-weight-semibold);
  
}

.post_footer-icon-counter {
  /* padding: 0.1rem 0 0 0; */
  font-weight: var(--font-weight-regular);
  color: var(--neutral2-25);
}

.post_unfollow-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: inherit !important;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.post_unfollow-screen-wrapper {
  width: 20rem;
  height: 15rem;
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.post_unfollow-screen-header {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.post_unfollow-screen-header img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.post_unfollow-screen-username {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
}

.post_unfollow-screen-btns {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_unfollow-screen-btn {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-top: 1px solid #bababa;
  cursor: pointer;
  background: transparent;
  outline: none;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  color: var(--neutral2-700);
}

.post_unfollow-screen-btn:hover {
  background: var(--neutral1-25);
}

.post_unfollow-screen-btn:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

.post_unfollow-screen-unfollow {
  color: var(--danger-800);
}

@media screen and (max-width: 640px) {
  .Post {
    width: 100%;
    margin: 1rem auto;
    /* background: antiquewhite; */
    padding: 0.5rem;
  }

  .post_header {
    /* background: aquamarine; */
  }

  .post_header-left {
    gap: 0.3rem;
  }

  .post_header-left img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .post_header-name {
    height: 2.5rem;
  }

  .post_header-name h3 {
    font-size: var(--font-size-medium);
  }

  .post_header-name p {
    /* font-size: var(--font-size-xsmall); */
  }

  .post_header-right {
    height: 2.5rem;
    width: 2.5rem;
  }

  .post_header-more {
    width: 1.25rem;
    height: 1.25rem;
  }

  .post_header-dropdown {
    top: 2.25rem;
    width: 8rem;
    min-height: 6rem;
    max-height: 8rem;
  }

  .post_dropdown-item {
    min-height: 2rem;
    max-height: 2.5rem;
    font-size: var(--font-size-small);
  }

  .post_body {
    margin: 0;
  }

  .post_body-carousel {
    height: 13rem;
  }

  .post_body-caption-username {
    font-size: var(--font-size-medium);
  }

  .post_body-caption-readMore {
    font-size: var(--font-size-xsmall);
  }
}
