.ProfileInfo {
  width: 100%;
  height: auto;
  min-height: 35vh;
}

.profile-info-top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-pic {
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 50%;
  object-fit: cover;
  margin: 2rem 2rem 0 2rem;
}

.profile-info-top-right {
  width: 40rem;
  max-width: 40rem;
}

.profile-info-right-top {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.profile-info-name,
.profile-info-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-info-username {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--neutral1-500);
  margin: 0.5rem 0 0 0;
}

.profile-info-name span {
  font-size: var(--font-size-xxlarge);
  font-weight: var(--font-weight-bold);
}

.profile-info-right-bottom {
  display: flex;
  margin: 1rem 0 0 0;
}

.profile-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-right: 2px solid #e7edf2;
}

.profile-info:last-child {
  border-right: none;
}

.profile-info span:nth-of-type(1) {
  color: var(--primary-600);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
}

.profile-info span:nth-of-type(1):hover {
  text-decoration: underline;
}

.profile-info:first-child span:nth-of-type(1):hover {
  cursor: text;
  text-decoration: none;
}

.profile-info span:nth-of-type(2) {
  color: var(--neutral1-500);
  opacity: 0.8;
  font-size: 0.938rem;
  font-weight: var(--font-weight-bold);
}

.profile-info-bottom {
  margin: 1rem 0 0 2rem;
  white-space: pre-line;
}

.profile-info-bio {
  color: var(--neutral1-600);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
}

.profile-info-website {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin: 0.3rem 0 0 0;
  cursor: pointer;
}

.profile-info-website a {
  text-decoration: none;
  color: var(--primary-300);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
}

.profile-info-website a:hover {
  text-decoration: underline;
}

.profile-info-website a:visited {
  color: var(--primary-700);
}

.profile-buttons-mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  .ProfileInfo {
    min-height: auto;
    padding: 0 0.5rem;
  }

  .profile-info-top {
    gap: 1rem;
    padding: 0.5rem 0 0 0;
  }

  .profile-info-top-right {
    width: 100%;
  }

  .profile-info-name span {
    font-size: var(--font-size-xlarge);
  }

  .profile-pic {
    width: 5rem;
    height: 5rem;
    margin: 0;
  }

  .profile-info-username,
  .profile-info-buttons {
    display: none;
  }

  .profile-info-bottom {
    margin: 0.5rem 0 0 0;
  }

  .profile-buttons-mobile {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 0 0;
  }
}
