.ProfileInfoButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  width: 10rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 0.35rem;
  box-shadow: 0 3px 7px -4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn img {
  width: 1.2rem;
  height: 1.2rem;
}

.editprofile-btn,
.follow-btn,
.message-btn {
  background: var(--primary-500);
}

.unfollow-btn {
  background: #fff;
  border: 1px solid var(--primary-500);
}

.editprofile-btn span,
.follow-btn span,
.message-btn span,
.unfollow-btn span {
  color: #fff;
  /* text-align: center; */
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
}

.unfollow-btn span {
  color: var(--primary-600);
}

@media screen and (max-width: 640px) {
  .ProfileInfoButtons {
    width: 100%;
    gap: 0.5rem;
    justify-content: center;
  }

  .editprofile-btn {
    width: 100%;
  }

  .follow-btn {
    width: 100%;
  }

  .unfollow-btn,
  .message-btn {
    width: 50%;
  }

  .showfollowers {
    width: 100%;
  }

  .btn img {
    width: 1.1rem;
    height: 1.1rem;
  }

  .follow-btn span,
  .unfollow-btn span,
  .message-btn span {
    font-size: var(--font-size-small);
  }
}
