.RootLayout {
  width: 100%;
  height: 100vh;
  display: flex;
}

.root-section {
  display: flex;
  flex: 1;
  height: 100vh;
}

@media screen and (max-width: 641px) {
  .RootLayout {
    height: 100vh;
    flex-direction: column;
  }   
}
