.searchodel-container {
  padding: 0.5rem;
}

.searchresult-link {
  text-decoration: none;
  display: flex;
  gap: 0.7rem;
}

.searchmodel-profilePic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.searchmodel-userinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchmodel-username {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
}

.searchmodel-username:hover {
  font-weight: var(--font-weight-bold);
}

.searchmodel-name {
  color: var(--neutral2-600);
  font-size: 0.9rem;
  font-weight: var(--font-weight-medium);
}

.searchmodel-following-dot,
.searchmodel-following-status {
  margin: 0 0 0 0.5rem;
  color: var(--neutral2-50);
  opacity: 0.8;
}

@media screen and (max-width: 640px) {
  .searchodel-container {
    width: 100%;
  }
}
