.UpdateProfile {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-profile-container {
  width: 80%;
  height: 90%;
  position: relative;
  border: 1px solid var(--border-color);
}

.update-profile-container input[type="radio"] {
  display: none;
}

.tab-container {
  float: left;
  width: 20%;
  height: 100%;
  border-right: 1px solid var(--border-color);
}

.tab-container label {
  display: block;
  width: 100%;
  height: 3.75rem;
  line-height: 3.75rem;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  padding: 0 0.625rem;
}

.tab-container label:hover {
  cursor: pointer;
  background: var(--neutral1-50);
  transition: all 0.1s ease-in-out;
}

.tab-container label span {
  font-weight: var(--font-weight-semibold);
  color: var(--neutral2-700);
  opacity: 0.9;
}

.tab-container label:hover span {
  color: var(--primary-700);
}

#edit-profile:checked ~ .tab-container .edit-profile span,
#change-password:checked ~ .tab-container .change-password span {
  color: var(--primary-700);
}

#edit-profile:checked ~ .tab-content .change-password-form,
#change-password:checked ~ .tab-content > .edit-profile-form {
  display: none;
}

.tab-content {
  float: right;
  width: 80%;
  height: 100%;
  padding: 0.8rem 0.2rem;
  overflow: auto;
}

.indicator {
  position: absolute;
  width: 0.1875rem;
  height: 3.75rem;
  background: var(--primary-300);
  left: 0;
  top: 0;
  transition: top 0.3s;
  border-radius: 0.3125rem;
}

#edit-profile:checked ~ .tab-container .indicator {
  top: 0;
}

#change-password:checked ~ .tab-container .indicator {
  top: 3.75rem;
}

@media screen and (max-width: 768px) {
  .UpdateProfile {
    width: 100vw;
    height: calc(100vh - 3.5rem);
    margin: auto 0 0 0;
  }
  .update-profile-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .tab-container {
    width: 100%;
    height: 3.125rem;
    display: flex;
    text-align: center;
  }

  .tab-container label {
    width: 50%;
    height: 3.125rem;
    font-size: var(--font-size-medium);
    padding: 0;
    justify-content: center;
  }

  .tab-container label:hover {
    background: none;
  }

  .tab-container label:first-child {
    border-right: 1px solid var(--border-color);
  }

  .tab-content {
    width: 100%;
    height: 100%;
    /* padding: 0; */
  }

  .edit-profile-form {
    overflow-y: auto;
  }

  .indicator {
    width: 50%;
    height: 0.1875rem;
    transition: left 0.3s;
  }

  #edit-profile:checked ~ .tab-container .indicator {
    left: 0;
  }

  #change-password:checked ~ .tab-container .indicator {
    top: 0;
    left: 50%;
  }
}
